.box {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   width: 20%;
   height: 400px;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   padding: 20px;
   margin-left: 39%;
}

h1{
    text-align: center;
    color: 
    #008080;
}

.box>div{
    height: 50px;
    width: 60%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 10px;

}

#text{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    grid-area: 1/1/2/5;
    width: 90%;
    margin-left: 10px;
    border-radius: 10px;
}

#black{
    color: white;
    background-color: black;
}

#red{
    color: white;
    background: red;
}


